@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap&family=Acme&family=Black+And+White+Picture&family=Bowlby+One+SC&family=Caprasimo&family=Francois+One&family=Nosifer&family=Rampart+One&family=Titan+One&display=swap");

p {
  text-align: center;
  font-size: 2.3vh;
  padding: 2vh 0vh 3vh;
  font-family: "Acme", sans-serif;
  color: rgb(237, 134, 158);
}
h1 {
  text-align: center;
  margin: 2vw;
  font-family: "Rampart One", sans-serif;
  font-size: 5.5vh;
  color: rgb(239, 160, 179);
}
h2 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  font-size: 2.5vh;
  padding-top: 1.5vh;
}
h3 {
  text-align: center;
  font-family: "Caprasimo", serif;
  font-weight: 300;
  font-size: 3vh;
}
h4 {
  text-align: center;
  font-family: "Caprasimo", serif;
  font-weight: 300;
  font-size: 2.8vh;
  margin: 20px;
  color: rgb(237, 134, 158);
}
.item-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.tarjeta {
  width: 15%;
  margin: 1.5%;
  padding: 4px 3px 20px;
  border-radius: 15px;
  border: 3.5px solid rgb(255, 212, 18);
  background-color: white;
  text-align: center;
}
.imagen-tarjeta {
  width: 100%;
  display: flex;
  justify-content: center;
}
.imagen-producto {
  width: 70%;
}
.boton-detalle{
  text-decoration: none;
  background-color: rgb(245, 245, 245);
  font-size: 2vh;
  padding: 1vh;
  font-family: "Acme", sans-serif;
  border: 3px solid rgba(214, 214, 214, 0.777);
  border-radius: 10px;
  color: rgb(41, 41, 41);
}