.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25vh;
}

.lista {
  display: flex;
  list-style: none;
  align-items: center;
  color: rgb(255, 208, 0);
  font-size: 3.2vh;
  font-family: "Bowlby One SC", sans-serif;
}

.lista li {
  padding-right: 10vh;
}

.logo-navbar {
  width: 22vw;
  margin-left: 3vw;
}

.cart {
  height: 10vh;
}

.numerito {
  color: rgb(255, 208, 0);
  font-size: 4vh;
  font-weight: bolder;
  margin-right: 3vw;
}
