.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 11vh;
  background-color: white;
}

.lista {
  display: flex;
  list-style: none;
  align-items: center;
  color: rgb(255, 208, 0);
  font-size: 2.3vh;
  font-family: "Caprasimo", serif;
  padding-right: 10vh;
  text-decoration: none;
}



.logo-navbar {
  width: 11vw;
  margin-left: 2vw;
}

.carrito {
  height: 5vh;
}

.numerito {
  color: rgb(255, 208, 0);
  font-size: 2.7vh;
  font-weight: bolder;
  margin-right: 2vw;
}
